<mat-card>
    <mat-card-content>
        <!-- <mat-card-title>Create Stock</mat-card-title> -->
        <form [formGroup]="addStockForm">
            <div fxLayout="row wrap">
                <div class="p-10" fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="100">
                    <mat-form-field>
                      <input matInput placeholder="Category" formControlName="prod_category">
                    </mat-form-field>
                </div>
                <div class="p-10" fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="100">
                    <mat-form-field>
                      <input matInput placeholder="Batch Number" formControlName="prod_batch_no">
                    </mat-form-field>
                </div>
                <div class="p-10" fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="100">
                    <h4>Product Details</h4>
                </div>

                <div class="p-10" fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="100">
                    <mat-form-field>
                      <input matInput placeholder="Product Name" formControlName="prod_name">
                    </mat-form-field>
                </div>
                <div class="p-10" fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="100">
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker" formControlName="prod_expiry_date" placeholder="Expiry Date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <!-- <input matInput placeholder="Expiry Date" formControlName="prod_expiry_date"> -->
                    </mat-form-field>
                </div>
                <div class="p-10" fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="100">
                    <mat-form-field>
                      <input matInput placeholder="Quanity" formControlName="prod_quantity">
                    </mat-form-field>
                </div>
            </div>
            <mat-card-actions>
                <button mat-raised-button (click)="createStock()" color="primary" type="submit" >Create</button>
              </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>